.sprint_minigame {  
  display:flex;
  justify-content: center;
  align-items: center; 
  flex-wrap: wrap;
  padding-top: 5rem;
  transition: .5s;
}

.sprint_minigame.block {
  opacity: 0; 
  transition: .5s;
}

#game_timer,
#answer_bonus,
#answer_sound {
  display: none;
}

.game_content_wrapper {
  position: relative;
  width:45%;
  padding: 3% 3% 3% 3%;
  border: grey solid 1px;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, .5);
}

.total_score,
.game_content,
.bonus_carousel_wrapper {
  margin: 2rem auto;
  text-align: center;
}

.answer_wrapper {
  text-align: center;
}

.total_score {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
}

.bonus_carousel,
.bonus_icon_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;   
  position: relative;  
}

.bonus_carousel {  
  width: 7rem;
  left: calc(50% - 3.5rem);
}

.bonus_icon_wrapper {  
  width: 16rem;
  left: calc(50% - 8rem);
}

.bonus_circle {
  width: 1.5rem;
  height: 1.5rem;
  background-color: gray;
  border-radius: .75rem;
  opacity: .5;
  transition: .5s;
}

.bonus_circle.active {
  background-image: url('../assets/true2.svg');
  opacity: 1;
  transition: .5s;
}

.bonus_circle.max {
  opacity: 0;
  transition: .5s;
}

.bonus_icon {
  display: inline-block;
  width: 3rem;
}

.answ_btn {
  cursor: pointer;
  display: inline-block;
  width: 8rem;
  height: 2rem;
  font-size: 1.2rem;
  border-radius: .5rem;
}

#answ_false {
  background-color: rgb(165, 42, 42);
}

#answ_true {
  background-color: rgb(112, 130, 56);
}

.bonus_size,
.engl_word,
.translate_engl_word {    
  font-size: 2rem;
}

.engl_word {
  margin-top: 3rem;
}

.bonus_size {
  opacity: 0;
  transition: .3s;
}

.bonus_size.active {
  opacity: 1;
  transition: .3s;
}


.translate_engl_word,
.bonus_size {
  margin-top: 1.5rem;
}

.answ_result_right,
.answ_result_false {
  position: absolute;
  bottom: 30%;
  left: 45%;
  width: 4rem;
  height: 4rem;  
  opacity: 0; 
  transition: .5s; 
}

.answ_result_right.click, 
.answ_result_false.click {
  opacity: 1;
  transition: .5s;  
}

.big,
.boom,
.flash {
  opacity: 0;
  transition: .5s;
}

.big.active,
.boom.active,
.flash.active {
  opacity: 1;
  transition: .5s;
}

.timer_value {
  position: absolute;
  top: 10%;
  left:80%;
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  padding-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, .5);   
  transition: .2s;  
}

.end_game { 
  position: absolute; 
  width:20rem;
  height: 20rem;
  top: calc(50% - 10rem);
  left: calc(50% - 10rem);
  transition: 1s;
  font-size: 1.5rem;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, .5);
  border: grey solid 1px;
  border-radius: 1rem;  
  z-index: 200;
}

.wrapper_end_game {
  display: none;  
  position: absolute;  
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .5s;
}

.wrapper_end_game.active {
  display: block; 
  top: 0;
  left: 0;
  transition: .5s;
}

.sprint_key_icon {
  position: relative;
  top: 7rem; 
  text-align: center;  
}

.sprint_key_icon img{
  display: inline-block;
  width: 3rem;
  height: 3rem;
}



